name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Test:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"] #, "macos-latest", "ubuntu-latest"]
        python-version: ["3.8", "3.9"] # fix tests to support older versions
    
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: envs/hydromt-fiat.yml
          python-version: ${{ matrix.python-version }}
          activate-environment: hydromt-fiat

      - name: Conda info
        run: |
         conda info
         conda list

      - name: Install fiat
        run: flit install

      - name: Test
        run: python -m pytest --verbose --cov=hydromt_fiat --cov-report xml

      - name: Check style
        run: black --check .

      - uses: codecov/codecov-action@v1